certifi==2023.7.22
astroid==2.3.3
chardet==3.0.4
colorama==0.4.3
customerio==0.5.2
idna==3.7
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
requests==2.32.0
six==1.13.0
urllib3==1.26.18
wrapt==1.11.2
